footer.compact-footer
  .container
    .footer-content
      .footer-logo
        i.fas.fa-music
        span Music Hub
      ul.footer-links
        li
          a(href='#') Trang Chủ
        li
          a(href='#') Thư Viện
        li
          a(href='#') Playlist
        li
          a(href='#') Liên Hệ
      .social-icons
        a(href='#')
          i.fab.fa-facebook-f
        a(href='#')
          i.fab.fa-twitter
        a(href='#')
          i.fab.fa-instagram